body.login{ padding-top:1px; }
body.login div#login {
  padding: 0;
}
body.login div#login h1 {
  display: none;
}
div#nlk-logo-container {}
div#nlk-logo-animated.large {
  height: 310px;
  margin: 20px auto;
  position: relative;
  width: 200px;
}
div#nlk-logo-animated.large div#l1 {
  position: absolute;
  top: 79px;
  left: 0px;
  width: 100px;
  height: 86px;
  background-color: darkorange;
  -webkit-transform: rotate(90deg) skew(-30deg); 
  -moz-transform: rotate(90deg) skew(-30deg);
  transform: rotate(90deg) skew(-30deg);
  -webkit-animation: l1 3s infinite; /* Chrome, Safari, Opera */
  animation: l1 3s infinite;
}
div#nlk-logo-animated.large div#l2 {
  position: absolute;
  top: 0px;
  left: 46px;
  width: 100px;
  height: 86px;
  background-color: darkorange;
  -webkit-transform: rotate(-30deg) skew(30deg); 
  -moz-transform: rotate(-30deg) skew(30deg);
  transform: rotate(-30deg) skew(30deg);
  -webkit-animation: l2 3s infinite; /* Chrome, Safari, Opera */
  animation: l2 3s infinite;
}
div#nlk-logo-animated.large div#l3 {
  position: absolute;
  top: 178px;
  left: 98px;
  width: 86px;
  height: 100px;
  background-color: darkorange;
  -webkit-transform: skew(0deg, 150deg); 
  -moz-transform: skew(0deg, 150deg);
  transform: skew(0deg, 150deg);
  -webkit-animation: l3 3s infinite; /* Chrome, Safari, Opera */
  animation: l3 3s infinite;
}
div#nlk-logo-animated.large div#l4 {
  position: absolute;
  top: 72px;
  left: 98px;
  width: 86px;
  height: 100px;
  background-color: darkorange;
  z-index: 9;
  display: none;
  -webkit-transform: skew(0deg, 150deg); 
  -moz-transform: skew(0deg, 150deg);
  transform: skew(0deg, 150deg);
  -webkit-animation: l4 3s infinite; /* Chrome, Safari, Opera */
  animation: l4 3s infinite;
}
div#nlk-logo-animated.large div#t1 {
  position: absolute;
  left: 108px;
  top: 47px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 44px 76px 43px 0;
  border-color: transparent orange transparent transparent;
  -webkit-animation: t1 3s infinite; /* Chrome, Safari, Opera */
  animation: t1 3s infinite;
}
div#nlk-logo-animated.large div#t2 {
  position: absolute;
  left: 98px;
  top: 98px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 49px 0 50px 86px;
  border-color: transparent transparent transparent orange;
  -webkit-animation: t2 3s infinite; /* Chrome, Safari, Opera */
  animation: t2 3s infinite;
}
/* 3d logo */
body.login{padding-top:1px;}
#wordmark {
  color:#f1f1f1;
  opacity: 0;
  transition:opacity 1s linear;
  font-size:7.518em;
  position:absolute;
  top: 50%; left: 50%;
  font-family:sans-serif;
  line-height: 1;
  letter-spacing: .55em;
  text-align:center;
  transform:translate(-50%,-50%);
  width: 300px; height:300px;
  overflow: hidden;
  font-variant: small-caps;
}
#wordmark em:not(:first-child):before{content:"\A";white-space:pre;}
#wordmark em{ font-style:normal; position: relative;}
#wordmark i{ font-style:normal;}
#wordmark em:nth-child(1) {left:.2em;}
#wordmark em:nth-child(2) {left:.15em;}
#wordmark em:nth-child(3) {left:.25em;}
#login{
  perspective:1300px;
  perspective-origin:50% 23%; }
#nlk-logo-avatars {
  width:300px; height:300px;
  margin: 50px auto; position: relative;
  transform-style: preserve-3d;
  transition:transform .55s ease-out;
}
#nlk-logo-avatars .l {
  width:300px; height:300px;
  overflow: hidden;
  background-color: #f1931c;
  padding:6px;
  background-clip:content-box;
  box-sizing: border-box;
  text-align: center;
}
#nlk-logo-avatars.logospective{ transform: translateZ( -2100px ) translateY(-80px) rotateX(-36deg) rotateY(-45deg);}
#nlk-logo-avatars.l3_spective{ transform: translateZ( -13px ) translateY(11px) rotateX(0deg) rotateY(-90deg);}

/* front */ #l1 { position: absolute; transform: rotateY(0deg) translateZ(150px);}
/* back */ #l2 { position: absolute; transform: rotateX(180deg) translateZ(150px); height:68.18% !important;}
/* right */ #l3 { position: absolute; transform: rotateY(90deg) translateZ(150px) translateY(300px);}
/* top */ #l4 { position: absolute; transform: rotateX(90deg) translateZ(150px);}
/* bottom */ #l5 { position: absolute; transform: rotateX(-90deg) translateZ(150px);}

#nlk-logo-avatars div img { display: none; position: relative; width:300px; height:auto; }
#l5 img, #l5 #wordmark{transform:scaleY(-1); left:0; top:0;}
#l2 img, #l2 #wordmark{transform:scaleY(-1); left:0; top:auto; bottom:0;}



/* Chrome, Safari, Opera */
@-webkit-keyframes l1 {
  0% {opacity: 0;}
  3% {opacity: 1;}
  35% {opacity: 1;}
  83% {opacity: 0;}
  100% {opacity: 0;}
}
/* Standard syntax */
@keyframes l1 {
  0% {opacity: 0;}
  3% {opacity: 1;}
  35% {opacity: 1;}
  83% {opacity: 0;}
  100% {opacity: 0;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes l2 {
  0% {opacity: 0;}
  2% {opacity: 0;}
  5% {opacity: 1;}
  39% {opacity: 1;}
  85% {opacity: 0;}
  100% {opacity: 0;}
}
/* Standard syntax */
@keyframes l2 {
  0% {opacity: 0;}
  2% {opacity: 0;}
  5% {opacity: 1;}
  39% {opacity: 1;}
  85% {opacity: 0;}
  100% {opacity: 0;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes t1 {
  0% {opacity: 0;}
  4% {opacity: 0;}
  7% {opacity: 1;}
  43% {opacity: 1;}
  87% {opacity: 0;}
  100% {opacity: 0;}
}
/* Standard syntax */
@keyframes t1 {
  0% {opacity: 0;}
  4% {opacity: 0;}
  7% {opacity: 1;}
  43% {opacity: 1;}
  87% {opacity: 0;}
  100% {opacity: 0;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes t2 {
  0% {opacity: 0;}
  6% {opacity: 0;}
  9% {opacity: 1;}
  47% {opacity: 1;}
  89% {opacity: 0;}
  100% {opacity: 0;}
}
/* Standard syntax */
@keyframes t2 {
  0% {opacity: 0;}
  6% {opacity: 0;}
  9% {opacity: 1;}
  47% {opacity: 1;}
  89% {opacity: 0;}
  100% {opacity: 0;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes l3 {
  0% {opacity: 0;}
  8% {opacity: 0;}
  11% {opacity: 1;}
  51% {opacity: 1;}
  91% {opacity: 0;}
  100% {opacity: 0;}
}
/* Standard syntax */
@keyframes l3 {
  0% {opacity: 0;}
  8% {opacity: 0;}
  11% {opacity: 1;}
  51% {opacity: 1;}
  91% {opacity: 0;}
  100% {opacity: 0;}
}
