/*
Theme Name: NL2K14
Theme URI: http://www.ninthlink.com/
Description: Child Theme of Saleint WP theme, for Ninthlink.com 2014 go go go
Author: Alex Chousmith
Author URI: http://www.ninthlink.com
Template: salient
Version: 2016.9.20
*/

/* @import '../salient/style.css'; */

/* more styles here? */
body.home #header-space { margin-bottom: 40px }
.page .wpb_row { margin-bottom: 0 }
#footer-outer #footer-widgets .col ul li:first-child.social-facebook > a { padding-top: 8px !important }

/* for firefox */
#footer-widgets .row .col img { width: 100%; }

div#nlk-logo-static { position: relative; padding: 10px; margin: 20px; height: 300px; width: 300px; }
div#nlk-logo-static div { overflow: hidden; border-width: 4px; border-style: solid; text-align: center; }
div#nlk-logo-static div#l1 { position: absolute; border-width: 4px 6px 4px 4px; z-index: 5; top: 70px; left: 0px; width: 89px; height: 100px; background-color: darkorange; -webkit-transform: skew(0deg, 30deg);  -moz-transform: skew(0deg, 30deg); transform: skew(0deg, 30deg);}
div#nlk-logo-static div#l2 { position: absolute; border-width: 4px 4px 6px 4px; z-index: 4; top: 0px; left: 37px; width: 100px; height: 90px; background-color: darkorange; -webkit-transform: rotate(-30deg) skew(30deg);  -moz-transform: rotate(-30deg) skew(30deg); transform: rotate(-30deg) skew(30deg);}
div#nlk-logo-static div#l5 { position: absolute; z-index: 3; top: 171px; left: 85px; width: 89px; height: 100px; background-color: darkorange; -webkit-transform: skew(0deg, 150deg);  -moz-transform: skew(0deg, 150deg); transform: skew(0deg, 150deg);}
div#nlk-logo-static div#l4 { position: absolute; z-index: 2; top: 102px; left: 37px; width: 100px; height: 89px; background-color: darkorange; -webkit-transform: rotate(-30deg) skew(30deg);  -moz-transform: rotate(-30deg) skew(30deg); transform: rotate(-30deg) skew(30deg);}
div#nlk-logo-static div#l3 { position: absolute; border-width: 4px 4px 14px 4px;z-index: 1; top: 22px; left: 85px; width: 89px; height: 100px; background-color: darkorange; -webkit-transform: skew(0deg, 30deg);  -moz-transform: skew(0deg, 30deg); transform: skew(0deg, 30deg);}
div#nlk-logo-static div img { display: none; }
/*
div#nlk-logo-static div#t1 { position: absolute; top: 47px; left: 101px; width: 0; height: 0; border-style: solid; border-width: 44px 76px 43px 0; border-color: transparent orange transparent transparent;}
div#nlk-logo-static div#t2 { position: absolute; top: 98px; left: 91px; width: 0; height: 0; border-style: solid; border-width: 49px 0 50px 86px; border-color: transparent transparent transparent orange;}
*/

/* menu fix */
a#toggle-nav { float: right; }
#mobile-menu ul li a { font-size: 16px; }
@media only screen and (min-width: 1px) and (max-width:1000px) {
  div#header-outer { position: fixed !important; }
  #page-header-wrap { margin-top: 0 !important; }
}
@media only screen and (min-width: 1001px) {
  a#toggle-nav { display: none }
}
